<main>
	<div class="main-section">
		<div class="container">
			<div class="main-section-data">
				<div class="row">
					<div class="col-lg-3 col-md-4 pd-left-none no-pd">
						<div class="main-left-sidebar no-margin">
							<div class="user-data full-width">
								<div class="user-profile">
									<div class="username-dt">
										<div class="usr-pic">
											{{#if user.profile_image}}
											<img style="max-width: 70%;" src="{{user.profile_image}}" alt="">
											{{/if}}
											{{#unless user.profile_image}}
											<img src="/images/resources/user-pic.png" alt="">
											{{/unless}}
										</div>
									</div>
									<!--username-dt end-->
									<div class="user-specs">
										<h3>{{user.name}} {{user.surname}}</h3>
										<span>{{user.job}}</span>
									</div>
								</div>
								<!--user-profile end-->
								<ul class="user-fw-status">
									<li>
										<h4>Takip edilen</h4>
										<span>{{following_num}}</span>
									</li>
									<li>
										<h4>Takipçiler</h4>
										<span>{{follower_num}}</span>
									</li>
									<li>
										<a href="/users/{{user._id}}" title="">Profili Görüntüle</a>
									</li>
								</ul>
							</div>
							<!--user-data end-->
							<div class="suggestions full-width">
								<div class="sd-title">
									<h3>Önerilenler</h3>
									{{!-- <i class="la la-ellipsis-v"></i> --}}
								</div>
								<!--sd-title end-->
								<div class="suggestions-list">
									{{#each suggestion}}

									<div class="suggestion-usd">
										{{#if profile_image}}
										<img style="width: 20%;" src="{{profile_image}}" alt="">
										{{/if}}
										{{#unless profile_image}}
										<img style="width: 20%;" src="/images/resources/user-pic.png" alt="">
										{{/unless}}
										<div class="sgt-text">
											<h4><a href="/users/profile/{{_id}}">{{username}}</a></h4>
											<span>{{job}}</span>
										</div>
										{{!-- <span><i class="la la-plus"></i></span> --}}
									</div>
									{{/each}}
									{{!-- <div class="suggestion-usd">
										<img src="/images/resources/s2.png" alt="">
										<div class="sgt-text">
											<h4>John Doe</h4>
											<span>PHP Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="images/resources/s3.png" alt="">
										<div class="sgt-text">
											<h4>Poonam</h4>
											<span>Wordpress Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="images/resources/s4.png" alt="">
										<div class="sgt-text">
											<h4>Bill Gates</h4>
											<span>C & C++ Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="images/resources/s5.png" alt="">
										<div class="sgt-text">
											<h4>Jessica William</h4>
											<span>Graphic Designer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="images/resources/s6.png" alt="">
										<div class="sgt-text">
											<h4>John Doe</h4>
											<span>PHP Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="view-more">
										<a href="#" title="">View More</a>
									</div> --}}
								</div>
								<!--suggestions-list end-->
							</div>
							<!--suggestions end-->
							<div class="tags-sec full-width">
								<ul>
									<li><a href="#" title="">Help Center</a></li>
									<li><a href="#" title="">About</a></li>
									<li><a href="#" title="">Privacy Policy</a></li>
									<li><a href="#" title="">Community Guidelines</a></li>
									<li><a href="#" title="">Cookies Policy</a></li>
									<li><a href="#" title="">Career</a></li>
									<li><a href="#" title="">Language</a></li>
									<li><a href="#" title="">Copyright Policy</a></li>
								</ul>
								<div class="cp-sec">
									<img src="images/logo2.png" alt="">
									<p><img src="images/cp.png" alt="">Copyright 2019</p>
								</div>
							</div>
							<!--tags-sec end-->
						</div>
						<!--main-left-sidebar end-->
					</div>
					<div class="col-lg-6 col-md-8 no-pd">
						<div class="main-ws-sec">
							<div class="post-topbar">
								<div class="row">
									<div class="col-md-2 user-picy">
										<div style="min-width: 3.5rem; max-width: 3.5rem;">
											{{#if user.profile_image}}
											<img src="{{user.profile_image}}" alt="">
											{{/if}}
											{{#unless user.profile_image}}
											<img src="/images/resources/user-pic.png" alt="">
											{{/unless}}
										</div>
									</div>
									<div class="col-md-7"><div class="float-left font-weight-bold" style="color:#808B96; font-size:larger; margin: 0; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">Ne düşünüyorsun ?</div></div>
									<div class="col-md-3 post-st">
										<ul style="margin-left: 1.5rem; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
											<!--<li><a class="post_project" href="#" title="">Post a Project</a></li>-->
											<li><a class="post-jb active" href="#" title="">Paylaş</a></li>
										</ul>
									</div>
								</div>
								<!--post-st end-->
							</div>
							<!--post-topbar end-->
							<div class="posts-section">
								<!--<div class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt">
													<img src="images/resources/us-pic.png" alt="">
													<div class="usy-name">
														<h3>John Doe</h3>
														<span><img src="images/clock.png" alt="">3 min ago</span>
													</div>
												</div>
												<div class="ed-opts">
													<a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
													<ul class="ed-options">
														<li><a href="#" title="">Edit Post</a></li>
														<li><a href="#" title="">Unsaved</a></li>
														<li><a href="#" title="">Unbid</a></li>
														<li><a href="#" title="">Close</a></li>
														<li><a href="#" title="">Hide</a></li>
													</ul>
												</div>
											</div>
											<div class="epi-sec">
												<ul class="descp">
													<li><img src="images/icon8.png" alt=""><span>Epic Coder</span></li>
													<li><img src="images/icon9.png" alt=""><span>India</span></li>
												</ul>
												<ul class="bk-links">
													<li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
													<li><a href="#" title=""><i class="la la-envelope"></i></a></li>
												</ul>
											</div>
											<div class="job_descp">
												<h3>Senior Wordpress Developer</h3>
												<ul class="job-dt">
													<li><a href="#" title="">Full Time</a></li>
													<li><span>$30 / hr</span></li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
												<ul class="skill-tags">
													<li><a href="#" title="">HTML</a></li>
													<li><a href="#" title="">PHP</a></li>
													<li><a href="#" title="">CSS</a></li>
													<li><a href="#" title="">Javascript</a></li>
													<li><a href="#" title="">Wordpress</a></li> 	
												</ul>
											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="#"><i class="fas fa-heart"></i> Like</a>
														<img src="images/liked-img.png" alt="">
														<span>25</span>
													</li> 
													<li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Comment 15</a></li>
												</ul>
												<a href="#"><i class="fas fa-eye"></i>Views 50</a>
											</div>
										</div><!--post-bar end-->
								<div class="top-profiles">
									<div class="pf-hd">
										<h3>Yeni Kullanıcılar</h3>
										{{!-- <i class="la la-ellipsis-v"></i> --}}
									</div>
									<div class="profiles-slider">
										{{#each users}}
										<div class="user-profy">
											{{#if profile_image}}
											<img style="width: 60px; height: 60px;" src="{{profile_image}}" alt="">
											{{/if}}
											{{#unless profile_image}}
											<img style="width: 60px; height: 60px;" src="/images/resources/us-pc2.png"
												alt="">
											{{/unless}}
											<h2>{{username}}</h2>
											<span>{{job}}</span>
											<ul>
												<li><a style="color: white;" id={{ _id }} onclick="actOnFollow(event);"
														data-post-id="{{ _id }}" title="" class="follow">Follow</a></li>
												{{!-- <li><a href="#" title="" class="envlp"><img src="images/envelop.png"
															alt=""></a></li>
												<li><a href="#" title="" class="hire">hire</a></li> --}}
											</ul>
											<a href="/users/profile/{{_id}}" title="">Profili Görüntüle</a>
										</div>
										{{/each}}
										<!--user-profy end-->

										<!--user-profy end-->

										<!--user-profy end-->

										<!--user-profy end-->

										<!--user-profy end-->

										<!--user-profy end-->
									</div>
									<!--profiles-slider end-->
								</div>
								<!--top-profiles end-->
								<!--<div class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt">
													<img src="images/resources/us-pic.png" alt="">
													<div class="usy-name">
														<h3>John Doe</h3>
														<span><img src="images/clock.png" alt="">3 min ago</span>
													</div>
												</div>
												<div class="ed-opts">
													<a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
													<ul class="ed-options">
														<li><a href="#" title="">Edit Post</a></li>
														<li><a href="#" title="">Unsaved</a></li>
														<li><a href="#" title="">Unbid</a></li>
														<li><a href="#" title="">Close</a></li>
														<li><a href="#" title="">Hide</a></li>
													</ul>
												</div>
											</div>
											<div class="epi-sec">
												<ul class="descp">
													<li><img src="images/icon8.png" alt=""><span>Epic Coder</span></li>
													<li><img src="images/icon9.png" alt=""><span>India</span></li>
												</ul>
												<ul class="bk-links">
													<li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
													<li><a href="#" title=""><i class="la la-envelope"></i></a></li>
													<li><a href="#" title="" class="bid_now">Bid Now</a></li>
												</ul>
											</div>
											<div class="job_descp">
												<h3>Senior Wordpress Developer</h3>
												<ul class="job-dt">
													<li><a href="#" title="">Full Time</a></li>
													<li><span>$30 / hr</span></li>
												</ul>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
												<ul class="skill-tags">
													<li><a href="#" title="">HTML</a></li>
													<li><a href="#" title="">PHP</a></li>
													<li><a href="#" title="">CSS</a></li>
													<li><a href="#" title="">Javascript</a></li>
													<li><a href="#" title="">Wordpress</a></li> 	
												</ul>
											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="#"><i class="fas fa-heart"></i> Like</a>
														<img src="images/liked-img.png" alt="">
														<span>25</span>
													</li> 
													<li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Comment 15</a></li>
												</ul>
												<a href="#"><i class="fas fa-eye"></i>Views 50</a>
											</div>
										</div><!--post-bar end-->
								{{#each posts}}
								<div class="posty">
									<div class="post-bar no-margin">
										<div class="post_topbar">
											<div class="row">
												<div class="col-sm-11">
													<div class="usy-dt">
														{{#if user.profile_image}}
														<img style="max-width: 8%; max-height: 8%;"
															src="{{user.profile_image}}" alt="">
														{{/if}}
														{{#unless user.profile_image}}
														<img src="/images/resources/us-pc2.png" alt="">
														{{/unless}}
														<div class="usy-name" style="margin-top: 2%;">
															<a href="/users/profile/{{user._id}}"><h2 style="font-weight: bold;">{{user.username}}</h2></a>
															<span><img src="/images/clock.png" alt="">{{
																generateDate date
																'DD-MM-YYYY' }}</span>
														</div>
														<div class="epi-sec">
															<ul class="descp">
																<li><img src="/images/icon8.png"
																		alt=""><span>{{user.job}}</span>
																</li>
																<li><img src="/images/icon9.png"
																		alt=""><span>{{user.city}}</span>
																</li>
															</ul>
															{{!-- <ul class="bk-links">
																<li><a href="#" title=""><i
																			class="la la-bookmark"></i></a></li>
																<li><a href="#" title=""><i
																			class="la la-envelope"></i></a></li>
															</ul> --}}
														</div>
													</div>
													<div class="job_descp">
														<div class="blog-image"><img src="{{post_image}}"
																class="img-fluid" />
														</div>
														<p>{{content}}</p>
													</div>
												</div>
												<div class="col-sm-1">
													<div class="ed-opts">
														{{!-- <a href="#" title="" class="ed-opts-open"><i
																class="la la-ellipsis-v"></i></a> --}}
														<ul class="ed-options">
															<li><a href="#" title="">Edit Post</a></li>
															<li><a href="#" title="">Unsaved</a></li>
															<li><a href="#" title="">Unbid</a></li>
															<li><a href="#" title="">Close</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="job-status-bar">
											<ul class="like-com">
												<li>
													<a id={{ _id }} onclick="actOnPost(event);" data-post-id="{{ _id }}"
														class="likeText"> Like</a>
													<img src="images/liked-img.png" alt="">
													<span data-toggle="collapse" href="#collapseExample{{_id}}"
														role="button" aria-expanded="false"
														aria-controls="collapseExample" id="likes-count-{{ _id }}">{{
														like_number }}</span>
												</li>
												<li><a href="#" class="com"><i class="fas fa-comment-alt"></i>
														{{comment_number}} yorum</a></li>
											</ul>
											{{!-- <a href="#"><i class="fas fa-eye"></i>Views 50</a> --}}
										</div>
									</div>
									<!--<div class="collapse" id="collapseExample{{_id}}">
										<div class="card card-body">
											
										</div>
									</div>-->
									<!--post-bar end-->
									<div class="comment-section">
										{{!-- <a href="#" class="plus-ic">
											<i class="la la-plus"></i>
										</a> --}}
										<div class="comment-sec">
											<ul>
												<li>
													{{#each comment}}
													<div class="comment-list">
														<div class="bg-img">
															<img src="{{user.profile_image}}" alt="">
														</div>
														<div class="comment">
															<a href="/users/profile/{{user._id}}"><h3> {{username}}</h3></a>
															<span><img src="/images/clock.png" alt=""> {{ generateDate
																date 'DD-MM-YYYY' }}</span>
															<p>{{content}}</p>
															<!--<a href="#" title="" class="active"><i
                                                                    class="fa fa-times"></i>Yorumu Sil</a>-->
														</div>
													</div>
													<!--comment-list end-->
													{{/each}}
												</li>
											</ul>
										</div>
										<!--comment-sec end-->
										<div class="post-comment">
											<div class="cm_img">
												{{!-- <img src="images/resources/bg-img4.png" alt=""> --}}
											</div>
											<div class="comment_box">
												<form action="/comments/newcomment" method="POST">
													<input style="max-width: 74%;" type="text" name="content"
														placeholder="Yorum ekle">
													<input type="text" name="post" value="{{_id}}" hidden>
													<button type="submit">Gönder</button>
												</form>
											</div>
										</div>
										<!--post-comment end-->
									</div>
									<!--comment-section end-->
								</div>
								<!--posty end-->
								{{/each}}
								{{!-- <div class="process-comm">
									<div class="spinner">
										<div class="bounce1"></div>
										<div class="bounce2"></div>
										<div class="bounce3"></div>
									</div>
								</div> --}}
								<!--process-comm end-->
							</div>
							<!--posts-section end-->
						</div>
						<!--main-ws-sec end-->
					</div>
					<div class="col-lg-3 pd-right-none no-pd">
						<div class="right-sidebar">
							{{!-- <div class="widget widget-about">
								<img src="images/wd-logo.png" alt="">
								<h3>Track Time on Workwise</h3>
								<span>Pay only for the Hours worked</span>
								<div class="sign_link">
									<h3><a href="sign-in.html" title="">Sign up</a></h3>
									<a href="#" title="">Learn More</a>
								</div>
							</div> --}}
							<!--widget-about end-->
							{{!-- <div class="widget widget-jobs">
								<div class="sd-title">
									<h3>Top Jobs</h3>
									<i class="la la-ellipsis-v"></i>
								</div>
								<div class="jobs-list">
									<div class="job-info">
										<div class="job-details">
											<h3>Senior Product Designer</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
										</div>
										<div class="hr-rate">
											<span>$25/hr</span>
										</div>
									</div>
									<!--job-info end-->
									<div class="job-info">
										<div class="job-details">
											<h3>Senior UI / UX Designer</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
										</div>
										<div class="hr-rate">
											<span>$25/hr</span>
										</div>
									</div>
									<!--job-info end-->
									<div class="job-info">
										<div class="job-details">
											<h3>Junior Seo Designer</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
										</div>
										<div class="hr-rate">
											<span>$25/hr</span>
										</div>
									</div>
									<!--job-info end-->
									<div class="job-info">
										<div class="job-details">
											<h3>Senior PHP Designer</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
										</div>
										<div class="hr-rate">
											<span>$25/hr</span>
										</div>
									</div>
									<!--job-info end-->
									<div class="job-info">
										<div class="job-details">
											<h3>Senior Developer Designer</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
										</div>
										<div class="hr-rate">
											<span>$25/hr</span>
										</div>
									</div>
									<!--job-info end-->
								</div>
								<!--jobs-list end-->
							</div> --}}
							<!--widget-jobs end-->
							{{!-- <div class="widget widget-jobs">
								<div class="sd-title">
									<h3>Most Viewed This Week</h3>
									<i class="la la-ellipsis-v"></i>
								</div>
								<div class="jobs-list">
									<div class="job-info">
										<div class="job-details">
											<h3>Senior Product Designer</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
										</div>
										<div class="hr-rate">
											<span>$25/hr</span>
										</div>
									</div>
									<!--job-info end-->
									<div class="job-info">
										<div class="job-details">
											<h3>Senior UI / UX Designer</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
										</div>
										<div class="hr-rate">
											<span>$25/hr</span>
										</div>
									</div>
									<!--job-info end-->
									<div class="job-info">
										<div class="job-details">
											<h3>Junior Seo Designer</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
										</div>
										<div class="hr-rate">
											<span>$25/hr</span>
										</div>
									</div>
									<!--job-info end-->
								</div>
								<!--jobs-list end-->
							</div> --}}
							<!--widget-jobs end-->
							<div class="widget suggestions full-width">
								{{!-- <div class="sd-title">
									<h3>En Çok Takip Edilenler</h3>
									{{!-- <i class="la la-ellipsis-v"></i> --}}
								</div>
								<!--sd-title end-->
								<div class="suggestions-list">
									{{#each most_followers}}
									<div class="suggestion-usd">
										<img src="{{profile_image}}" alt="">
										<div class="sgt-text">
											<a href="/users/profile/{{_id}}"><h4>{{name}}</h4></a>
											<span>{{job}}</span>
										</div>
										{{!-- <span><i class="la la-plus"></i></span> --}}
									</div>
									{{/each}}
									{{!-- <div class="suggestion-usd">
										<img src="images/resources/s2.png" alt="">
										<div class="sgt-text">
											<h4>John Doe</h4>
											<span>PHP Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="images/resources/s3.png" alt="">
										<div class="sgt-text">
											<h4>Poonam</h4>
											<span>Wordpress Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="images/resources/s4.png" alt="">
										<div class="sgt-text">
											<h4>Bill Gates</h4>
											<span>C &amp; C++ Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="images/resources/s5.png" alt="">
										<div class="sgt-text">
											<h4>Jessica William</h4>
											<span>Graphic Designer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="images/resources/s6.png" alt="">
										<div class="sgt-text">
											<h4>John Doe</h4>
											<span>PHP Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="view-more">
										<a href="#" title="">View More</a>
									</div> --}}
								</div>
								<!--suggestions-list end-->
							</div>
						</div>
						<!--right-sidebar end-->
					</div>
				</div>
			</div><!-- main-section-data end-->
		</div>
	</div>
</main>




<!--<div class="post-popup pst-pj">
			<div class="post-project">
				<h3>Ne düşünüyorsun?</h3>
				<div class="post-project-fields">
					<form>
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="title" placeholder="Title">
							</div>
							<div class="col-lg-12">
								<div class="inp-field">
									<select>
										<option>Category</option>
										<option>Category 1</option>
										<option>Category 2</option>
										<option>Category 3</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<input type="text" name="skills" placeholder="Skills">
							</div>
							<div class="col-lg-12">
								<div class="price-sec">
									<div class="price-br">
										<input type="text" name="price1" placeholder="Price">
										<i class="la la-dollar"></i>
									</div>
									<span>To</span>
									<div class="price-br">
										<input type="text" name="price1" placeholder="Price">
										<i class="la la-dollar"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<textarea name="description" placeholder="Description"></textarea>
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post">Post</button></li>
									<li><a href="#" title="">Cancel</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div><post-project-fields end
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end
		</div><!--post-project-popup end-->

<div class="post-popup job_post">
	<div class="post-project">
		<h3>Gönderi Oluştur</h3>
		<div class="post-project-fields">
			<form action="/posts/newpost" method="POST" enctype="multipart/form-data">
				<div class="row">
					<!--<div class="col-lg-12">
								<input type="text" name="content" placeholder="İçerik">
							</div>
							<div class="col-lg-12">
								<div class="inp-field">
									<select>
										<option>Category</option>
										<option>Category 1</option>
										<option>Category 2</option>
										<option>Category 3</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<input type="text" name="skills" placeholder="Skills">
							</div>
							<div class="col-lg-6">
								<div class="price-br">
									<input type="text" name="price1" placeholder="Price">
									<i class="la la-dollar"></i>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="inp-field">
									<select>
										<option>Full Time</option>
										<option>Half time</option>
									</select>
								</div>
							</div>-->
					<div class="col-lg-12">
						<textarea name="content" placeholder="İçerik" required></textarea>
					</div>
					<div class="col-lg-12">
						<input class="form-control" name="post_image" type="file">
					</div>
					<div class="col-lg-12">
						<ul>
							<li><button class="active" type="submit" value="post">Paylaş</button></li>
							<!--<li><a href="#" title="">İptal</a></li>-->
						</ul>
					</div>
				</div>
			</form>
		</div>
		<!--post-project-fields end-->
		<a href="#" title=""><i class="la la-times-circle-o"></i></a>
	</div>
	<!--post-project end-->
</div>
<!--post-project-popup end-->


{{!-- 
<div class="chatbox-list">
	<div class="chatbox">
		<div class="chat-mg">
			<a href="#" title=""><img src="images/resources/usr-img1.png" alt=""></a>
			<span>2</span>
		</div>
		<div class="conversation-box">
			<div class="con-title mg-3">
				<div class="chat-user-info">
					<img src="images/resources/us-img1.png" alt="">
					<h3>John Doe <span class="status-info"></span></h3>
				</div>
				<div class="st-icons">
					<a href="#" title=""><i class="la la-cog"></i></a>
					<a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
					<a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
				</div>
			</div>
			<div class="chat-hist mCustomScrollbar" data-mcs-theme="dark">
				<div class="chat-msg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada.
						Vivamus suscipit tortor eget felis porttitor.</p>
					<span>Sat, Aug 23, 1:10 PM</span>
				</div>
				<div class="date-nd">
					<span>Sunday, August 24</span>
				</div>
				<div class="chat-msg st2">
					<p>Cras ultricies ligula.</p>
					<span>5 minutes ago</span>
				</div>
				<div class="chat-msg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada.
						Vivamus suscipit tortor eget felis porttitor.</p>
					<span>Sat, Aug 23, 1:10 PM</span>
				</div>
			</div>
			<!--chat-list end-->
			<div class="typing-msg">
				<form>
					<textarea placeholder="Type a message here"></textarea>
					<button type="submit"><i class="fa fa-send"></i></button>
				</form>
				<ul class="ft-options">
					<li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
					<li><a href="#" title=""><i class="la la-camera"></i></a></li>
					<li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
				</ul>
			</div>
			<!--typing-msg end-->
		</div>
		<!--chat-history end-->
	</div>
	<div class="chatbox">
		<div class="chat-mg">
			<a href="#" title=""><img src="images/resources/usr-img2.png" alt=""></a>
		</div>
		<div class="conversation-box">
			<div class="con-title mg-3">
				<div class="chat-user-info">
					<img src="images/resources/us-img1.png" alt="">
					<h3>John Doe <span class="status-info"></span></h3>
				</div>
				<div class="st-icons">
					<a href="#" title=""><i class="la la-cog"></i></a>
					<a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
					<a href="#" title="" class="close-chat"><i class="la la-close"></i></a>
				</div>
			</div>
			<div class="chat-hist mCustomScrollbar" data-mcs-theme="dark">
				<div class="chat-msg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada.
						Vivamus suscipit tortor eget felis porttitor.</p>
					<span>Sat, Aug 23, 1:10 PM</span>
				</div>
				<div class="date-nd">
					<span>Sunday, August 24</span>
				</div>
				<div class="chat-msg st2">
					<p>Cras ultricies ligula.</p>
					<span>5 minutes ago</span>
				</div>
				<div class="chat-msg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada.
						Vivamus suscipit tortor eget felis porttitor.</p>
					<span>Sat, Aug 23, 1:10 PM</span>
				</div>
			</div>
			<!--chat-list end-->
			<div class="typing-msg">
				<form>
					<textarea placeholder="Type a message here"></textarea>
					<button type="submit"><i class="fa fa-send"></i></button>
				</form>
				<ul class="ft-options">
					<li><a href="#" title=""><i class="la la-smile-o"></i></a></li>
					<li><a href="#" title=""><i class="la la-camera"></i></a></li>
					<li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
				</ul>
			</div>
			<!--typing-msg end-->
		</div>
		<!--chat-history end-->
	</div>
	<div class="chatbox">
		<div class="chat-mg bx">
			<a href="#" title=""><img src="images/chat.png" alt=""></a>
			<span>2</span>
		</div>
		<div class="conversation-box">
			<div class="con-title">
				<h3>Messages</h3>
				<a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
			</div>
			<div class="chat-list">
				<div class="conv-list active">
					<div class="usrr-pic">
						<img src="images/resources/usy1.png" alt="">
						<span class="active-status activee"></span>
					</div>
					<div class="usy-info">
						<h3>John Doe</h3>
						<span>Lorem ipsum dolor <img src="images/smley.png" alt=""></span>
					</div>
					<div class="ct-time">
						<span>1:55 PM</span>
					</div>
					<span class="msg-numbers">2</span>
				</div>
				<div class="conv-list">
					<div class="usrr-pic">
						<img src="images/resources/usy2.png" alt="">
					</div>
					<div class="usy-info">
						<h3>John Doe</h3>
						<span>Lorem ipsum dolor <img src="images/smley.png" alt=""></span>
					</div>
					<div class="ct-time">
						<span>11:39 PM</span>
					</div>
				</div>
				<div class="conv-list">
					<div class="usrr-pic">
						<img src="images/resources/usy3.png" alt="">
					</div>
					<div class="usy-info">
						<h3>John Doe</h3>
						<span>Lorem ipsum dolor <img src="images/smley.png" alt=""></span>
					</div>
					<div class="ct-time">
						<span>0.28 AM</span>
					</div>
				</div>
			</div>
			<!--chat-list end-->
		</div>
		<!--conversation-box end-->
	</div>
</div> --}}
<!--chatbox-list end-->

</div>
<!--theme-layout end-->


<!-- in index.hbs -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	var updatePostStats = {
		Like: function (postId) {
			document.querySelector('#likes-count-' + postId).textContent++;
		},
		Unlike: function (postId) {
			document.querySelector('#likes-count-' + postId).textContent--;
		}
	};

	var toggleButtonText = {
		Like: function (button) {
			button.textContent = "Unlike";
		},
		Unlike: function (button) {
			button.textContent = "Like";
		}
	};

	var actOnPost = function (event) {
		var postId = event.target.dataset.postId;
		var action = event.target.textContent.trim();
		toggleButtonText[action](event.target);
		updatePostStats[action](postId);
		axios.post('/posts/' + postId + '/act', { action: action });
	};
</script>


<script>

	$(document).ready(function () {
		$.ajax(
			{
				type: 'GET',
				url: '/likepost/like',
				contentType: 'application/json',
				success: function (response) {
					let user_likes = response.data;
					let like_text = document.getElementsByClassName('likeText');

					for (let i = 0; i < like_text.length; i++) {
						for (let j = 0; j < user_likes.length; j++) {
							if (like_text[i].id == user_likes[j].post) {
								like_text[i].innerHTML = 'Unlike';
								break;
							}
						}
					}
				},
				failure: function (response) {
					console.log(response);
				}
			}
		);
	});
</script>

{{!-- <---yaren---> --}}


	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		var updateFollowStats = {
			Follow: function (postId) {
				document.querySelector('#likes-count-' + postId).textContent++;
			},
			Unfollow: function (postId) {
				document.querySelector('#likes-count-' + postId).textContent--;
			}
		};

		var toggleFollowText = {
			Follow: function (button) {
				button.textContent = "Unfollow";
			},
			Unfollow: function (button) {
				button.textContent = "Follow";
			}
		};

		var actOnFollow = function (event) {
			var followId = event.target.dataset.postId;
			var followstatus = event.target.textContent.trim();
			toggleFollowText[followstatus](event.target);
			//updateFollowStats[action](followId);
			axios.post('/follow/' + followId + '/act', { followstatus: followstatus });
		};
	</script>

	<script>

		$(document).ready(function () {
			$.ajax(
				{
					type: 'GET',
					url: '/follow/follows',
					contentType: 'application/json',
					success: function (response) {
						let user_following = response.data;
						console.log(user_following);
						let follow_text = document.getElementsByClassName('follow');
						for (let i = 0; i < follow_text.length; i++) {
							for (let j = 0; j < user_following.length; j++) {
								if (follow_text[i].id == user_following[j].following) {
									follow_text[i].innerHTML = 'Unfollow';
									break;
								}
							}
						}
					},
					failure: function (response) {
						console.log(response);
					}
				}
			);
		});
	</script>