<section class="companies-info">
	<div class="container">
		<div class="company-title">
			<h3>Arama Sonuçları</h3>
		</div>
		<!--company-title end-->
		<div class="companies-list">
			<div class="row">
				{{#each users}}
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							{{#if profile_image}}
							<img src="{{profile_image}}" alt="">
							{{/if}}
							{{#unless profile_image}}
							<img src="/images/resources/pf-icon1.png" alt="">
							{{/unless}}
							<h3>{{ username }}</h3>
							{{#if isVerified}}<img style="height: 8%; width: 8%;" src="/images/verificationmark.png"/>{{/if}}
							<h4>{{ city }}</h4>
							<ul>
								<li><a style="color: white;" id={{ _id }} onclick="actOnFollow(event);" data-post-id="{{ _id }}"
										title="" class="follow">Follow</a></li>
								{{!-- <li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li> --}}
							</ul>
						</div>
						<a href="/users/profile/{{_id}}" title="" class="view-more-pro">Profili Görüntüle</a>
					</div>
					<!--company_profile_info end-->
				</div>
				{{/each}}
				{{!-- <div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon2.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon3.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon4.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon5.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon6.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon7.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon8.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon9.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon10.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon11.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="company_profile_info">
						<div class="company-up-info">
							<img src="images/resources/pf-icon12.png" alt="">
							<h3>John Doe</h3>
							<h4>Graphic Designer</h4>
							<ul>
								<li><a href="#" title="" class="follow">Follow</a></li>
								<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
								<li><a href="#" title="" class="hire-us">Hire</a></li>
							</ul>
						</div>
						<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
					</div>
					<!--company_profile_info end-->
				</div> --}}
			</div>
		</div>
		<!--companies-list end-->
		<div class="process-comm">
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>
		<!--process-comm end-->
	</div>
</section>
<!--companies-info end-->


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	var updateFollowStats = {
		Follow: function (postId) {
			document.querySelector('#likes-count-' + postId).textContent++;
		},
		Unfollow: function (postId) {
			document.querySelector('#likes-count-' + postId).textContent--;
		}
	};

	var toggleFollowText = {
		Follow: function (button) {
			button.textContent = "Unfollow";
		},
		Unfollow: function (button) {
			button.textContent = "Follow";
		}
	};

	var actOnFollow = function (event) {
		var followId = event.target.dataset.postId;
		var followstatus = event.target.textContent.trim();
		toggleFollowText[followstatus](event.target);
		//updateFollowStats[action](followId);
		axios.post('/follow/' + followId + '/act', { followstatus: followstatus });
	};
</script>

<script>

	$(document).ready(function () {
		$.ajax(
			{
				type: 'GET',
				url: '/follow/follows',
				contentType: 'application/json',
				success: function (response) {
					let user_following = response.data;
					console.log(user_following);
					let follow_text = document.getElementsByClassName('follow');
					for (let i = 0; i < follow_text.length; i++) {
						for (let j = 0; j < user_following.length; j++) {
							if (follow_text[i].id == user_following[j].following) {
								follow_text[i].innerHTML = 'Unfollow';
								break;
							}
						}
					}
				},
				failure: function (response) {
					console.log(response);
				}
			}
		);
	});
</script>