<section class="cover-sec">
	{{#if searchedUser.cover_image}}
	<img src="{{searchedUser.cover_image}}" alt="">
	{{/if}}
	{{#unless searchedUser.cover_image}}
	<img src="/images/resources/cover-img.jpg" alt="">
	{{/unless}}
</section>


<main>
	<div class="main-section">
		<div class="container">
			<div class="main-section-data">
				<div class="row">
					<div class="col-lg-3">
						<div class="main-left-sidebar">
							<div class="user_profile">
								<div class="user-pro-img">
									{{#if searchedUser.profile_image}}
									<img src="{{searchedUser.profile_image}}" alt="">
									{{/if}}
									{{#unless searchedUser.profile_image}}
									<img src="/images/resources/user-pro-img.png" alt="">
									{{/unless}}
								</div>
								<!--user-pro-img end-->
								<div class="user_pro_status">
									<ul class="flw-hr">
										<li><a style="color: white;" id={{ searchedUser._id }} onclick="actOnFollow(event);"
												data-post-id="{{ searchedUser._id }}" class="flww"> Follow</a></li>
										{{!-- <li><a href="#" title="" class="hre">Hire</a></li> --}}
									</ul>
									<ul class="flw-status">
										<li>
											<span>Takip edilen</span>
											<b>{{following_num}}</b>
										</li>
										<li>
											<span>Takipçiler</span>
											<b>{{follower_num}}</b>
										</li>
									</ul>
								</div>
								<!--user_pro_status end-->
								<ul class="social_links">
									<li><a href="#" title=""><i class="la la-globe"></i> www.example.com</a></li>
									<li><a href="#" title=""><i class="fa fa-facebook-square"></i>
											Http://www.facebook.com/john...</a></li>
									<li><a href="#" title=""><i class="fa fa-twitter"></i>
											Http://www.Twitter.com/john...</a></li>
									<li><a href="#" title=""><i class="fa fa-google-plus-square"></i>
											Http://www.googleplus.com/john...</a></li>
									<li><a href="#" title=""><i class="fa fa-behance-square"></i>
											Http://www.behance.com/john...</a></li>
									<li><a href="#" title=""><i class="fa fa-pinterest"></i>
											Http://www.pinterest.com/john...</a></li>
									<li><a href="#" title=""><i class="fa fa-instagram"></i>
											Http://www.instagram.com/john...</a></li>
									<li><a href="#" title=""><i class="fa fa-youtube"></i>
											Http://www.youtube.com/john...</a></li>
								</ul>
							</div>
							<!--user_profile end-->
							<div class="suggestions full-width">
								<div class="sd-title">
									<h3>Suggestions</h3>
									<i class="la la-ellipsis-v"></i>
								</div>
								<!--sd-title end-->
								<div class="suggestions-list">
									<div class="suggestion-usd">
										<img src="/images/resources/s1.png" alt="">
										<div class="sgt-text">
											<h4>Jessica William</h4>
											<span>Graphic Designer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="/images/resources/s2.png" alt="">
										<div class="sgt-text">
											<h4>John Doe</h4>
											<span>PHP Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="/images/resources/s3.png" alt="">
										<div class="sgt-text">
											<h4>Poonam</h4>
											<span>Wordpress Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="/images/resources/s4.png" alt="">
										<div class="sgt-text">
											<h4>Bill Gates</h4>
											<span>C & C++ Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="/images/resources/s5.png" alt="">
										<div class="sgt-text">
											<h4>Jessica William</h4>
											<span>Graphic Designer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="suggestion-usd">
										<img src="/images/resources/s6.png" alt="">
										<div class="sgt-text">
											<h4>John Doe</h4>
											<span>PHP Developer</span>
										</div>
										<span><i class="la la-plus"></i></span>
									</div>
									<div class="view-more">
										<a href="#" title="">View More</a>
									</div>
								</div>
								<!--suggestions-list end-->
							</div>
							<!--suggestions end-->
						</div>
						<!--main-left-sidebar end-->
					</div>
					<div class="col-lg-6">
						<div class="main-ws-sec">
							<div class="user-tab-sec">
								<h3>{{searchedUser.name}} {{searchedUser.surname}}{{#if searchedUser.isVerified}}<img
										style="float: right; width: 4%; margin-right: 60%;"
										src="/images/verificationmark.png" />{{/if}}</h3>
								<div class="star-descp">
									<span>{{searchedUser.job}}</span>
									<ul>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star-half-o"></i></li>
									</ul>
								</div>
								<!--star-descp end-->
								<div class="tab-feed">
									<ul>
										<li data-tab="feed-dd" class="active">
											<a href="#" title="">
												<img src="/images/ic1.png" alt="">
												<span>Feed</span>
											</a>
										</li>
										<li data-tab="info-dd">
											<a href="#" title="">
												<img src="/images/ic2.png" alt="">
												<span>Info</span>
											</a>
										</li>
										<li data-tab="portfolio-dd">
											<a href="#" title="">
												<img src="/images/ic3.png" alt="">
												<span>Portfolio</span>
											</a>
										</li>
									</ul>
								</div><!-- tab-feed end-->
							</div>
							<!--user-tab-sec end-->
							<div class="product-feed-tab current" id="feed-dd">
								<div class="posts-section">
									{{#each posts}}
									<div class="posty">
										<div class="post-bar no-margin">
											<div class="post_topbar">
												<div class="row">
													<div class="col-sm-11">
														<div class="usy-dt">
															{{#if user.profile_image}}
															<img style="max-width: 8%; max-height: 8%;"
																src="{{user.profile_image}}" alt="">
															{{/if}}
															{{#unless user.profile_image}}
															<img src="/images/resources/us-pc2.png" alt="">
															{{/unless}}
															<div class="usy-name" style="margin-top: 2%;">
																<h2 style="font-weight: bold;">{{user.username}}</h2>
																<span><img src="/images/clock.png" alt="">{{
																	generateDate date
																	'DD-MM-YYYY' }}</span>
															</div>
															<div class="epi-sec">
																<ul class="descp">
																	<li><img src="/images/icon8.png"
																			alt=""><span>{{user.job}}</span>
																	</li>
																	<li><img src="/images/icon9.png"
																			alt=""><span>{{user.city}}</span>
																	</li>
																</ul>
																{{!-- <ul class="bk-links">
																	<li><a href="#" title=""><i
																				class="la la-bookmark"></i></a></li>
																	<li><a href="#" title=""><i
																				class="la la-envelope"></i></a></li>
																</ul> --}}
															</div>
														</div>
														<div class="job_descp">
															<div class="blog-image"><img src="{{post_image}}"
																	class="img-fluid" />
															</div>
															<p>{{content}}</p>
															{{!-- <p>{{content}}<br><a href="#" title="">view more</a></p> --}}
														</div>
													</div>
													<div class="col-sm-1">
														<div class="ed-opts">
															<a href="#" title="" class="ed-opts-open"><i
																	class="la la-ellipsis-v"></i></a>
															<ul class="ed-options">
																<li><a href="#" title="">Edit Post</a></li>
																<li><a href="#" title="">Unsaved</a></li>
																<li><a href="#" title="">Unbid</a></li>
																<li><a href="#" title="">Close</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a id={{ _id }} onclick="actOnPost(event);"
															data-post-id="{{ _id }}" class="likeText"> Like</a>
														<img src="/images/liked-img.png" alt="">
														<span style="margin-left:0%" data-toggle="collapse"
															href="#collapseExample{{_id}}" role="button"
															aria-expanded="false" aria-controls="collapseExample"
															id="likes-count-{{ _id }}">{{ like_number }}</span>
													</li>
													<li><a href="#" class="com"><i class="fas fa-comment-alt"></i>
															Comment
															15</a></li>
												</ul>
												<a href="#"><i class="fas fa-eye"></i>Views 50</a>
											</div>
										</div>
										<!--post-bar end-->
										<div class="comment-section">
											{{!-- <a href="#" class="plus-ic">
												<i class="la la-plus"></i>
											</a> --}}
											<div class="comment-sec">
												<ul>
													<li>
														{{#each comment}}
														<div class="comment-list">
															<div class="bg-img">
																<img src="/images/resources/bg-img1.png" alt="">
															</div>
															<div class="comment">
																<h3>{{username}}</h3>
																<span><img src="/images/clock.png" alt=""> {{
																	generateDate date 'DD-MM-YYYY' }}</span>
																<p>{{content}}</p>
																<!--<a href="#" title="" class="active"><i
                                                                    class="fa fa-times"></i>Yorumu Sil</a>-->
															</div>
														</div>
														<!--comment-list end-->
														{{/each}}
													</li>
												</ul>
											</div>
											<!--comment-sec end-->
											<div class="post-comment">
												<div class="cm_img">
													<img src="/images/resources/bg-img4.png" alt="">
												</div>
												<div class="comment_box">
													<form action="/comments/newcomment" method="POST">
														<input style="max-width: 74%;" type="text" name="content"
															placeholder="Post a comment">
														<input type="text" name="post" value="{{_id}}" hidden>
														<button type="submit">Gönder</button>
													</form>
												</div>
											</div>
											<!--post-comment end-->
										</div>
										<!--comment-section end-->
									</div>
									<!--posty end-->
									{{/each}}
									<!--post-bar end-->

									<div class="process-comm">
										<div class="spinner">
											<div class="bounce1"></div>
											<div class="bounce2"></div>
											<div class="bounce3"></div>
										</div>
									</div>
									<!--process-comm end-->
								</div>
								<!--posts-section end-->
							</div>
							<!--product-feed-tab end-->
							<div class="product-feed-tab" id="info-dd">
								<div class="user-profile-ov">
									<h3>Overview</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam
										felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna
										efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu
										augue nec arcu efficitur faucibus. Aliquam accumsan ac magna convallis bibendum.
										Quisque laoreet augue eget augue fermentum scelerisque. Vivamus dignissim mollis
										est dictum blandit. Nam porta auctor neque sed congue. Nullam rutrum eget ex at
										maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget
										vestibulum lorem.</p>
								</div>
								<!--user-profile-ov end-->
								<div class="user-profile-ov st2">
									<h3>Experience</h3>
									<h4>Web designer</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam
										felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna
										efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
									<h4>UI / UX Designer</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam
										felis, nec condimentum ipsum commodo id.</p>
									<h4>PHP developer</h4>
									<p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet
										augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo
										viverra. </p>
								</div>
								<!--user-profile-ov end-->
								<div class="user-profile-ov">
									<h3>Education</h3>
									<h4>Master of Computer Science</h4>
									<span>2015 - 2018</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam
										felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna
										efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
								</div>
								<!--user-profile-ov end-->
								<div class="user-profile-ov">
									<h3>Location</h3>
									<h4>India</h4>
									<p>151/4 BT Chownk, Delhi </p>
								</div>
								<!--user-profile-ov end-->
								<div class="user-profile-ov">
									<h3>Skills</h3>
									<ul>
										<li><a href="#" title="">HTML</a></li>
										<li><a href="#" title="">PHP</a></li>
										<li><a href="#" title="">CSS</a></li>
										<li><a href="#" title="">Javascript</a></li>
										<li><a href="#" title="">Wordpress</a></li>
										<li><a href="#" title="">Photoshop</a></li>
										<li><a href="#" title="">Illustrator</a></li>
										<li><a href="#" title="">Corel Draw</a></li>
									</ul>
								</div>
								<!--user-profile-ov end-->
							</div>
							<!--product-feed-tab end-->
							<div class="product-feed-tab" id="portfolio-dd">
								<div class="portfolio-gallery-sec">
									<h3>Portfolio</h3>
									<div class="gallery_pf">
										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-6 col-6">
												<div class="gallery_pt">
													<img src="/images/resources/pf-img1.jpg" alt="">
													<a href="#" title=""><img src="/images/all-out.png" alt=""></a>
												</div>
												<!--gallery_pt end-->
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-6">
												<div class="gallery_pt">
													<img src="/images/resources/pf-img2.jpg" alt="">
													<a href="#" title=""><img src="/images/all-out.png" alt=""></a>
												</div>
												<!--gallery_pt end-->
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-6">
												<div class="gallery_pt">
													<img src="/images/resources/pf-img3.jpg" alt="">
													<a href="#" title=""><img src="/images/all-out.png" alt=""></a>
												</div>
												<!--gallery_pt end-->
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-6">
												<div class="gallery_pt">
													<img src="/images/resources/pf-img4.jpg" alt="">
													<a href="#" title=""><img src="/images/all-out.png" alt=""></a>
												</div>
												<!--gallery_pt end-->
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-6">
												<div class="gallery_pt">
													<img src="/images/resources/pf-img5.jpg" alt="">
													<a href="#" title=""><img src="/images/all-out.png" alt=""></a>
												</div>
												<!--gallery_pt end-->
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-6">
												<div class="gallery_pt">
													<img src="/images/resources/pf-img6.jpg" alt="">
													<a href="#" title=""><img src="/images/all-out.png" alt=""></a>
												</div>
												<!--gallery_pt end-->
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-6">
												<div class="gallery_pt">
													<img src="/images/resources/pf-img7.jpg" alt="">
													<a href="#" title=""><img src="/images/all-out.png" alt=""></a>
												</div>
												<!--gallery_pt end-->
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-6">
												<div class="gallery_pt">
													<img src="/images/resources/pf-img8.jpg" alt="">
													<a href="#" title=""><img src="/images/all-out.png" alt=""></a>
												</div>
												<!--gallery_pt end-->
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-6">
												<div class="gallery_pt">
													<img src="/images/resources/pf-img9.jpg" alt="">
													<a href="#" title=""><img src="/images/all-out.png" alt=""></a>
												</div>
												<!--gallery_pt end-->
											</div>
											<div class="col-lg-4 col-md-4 col-sm-6 col-6">
												<div class="gallery_pt">
													<img src="/images/resources/pf-img10.jpg" alt="">
													<a href="#" title=""><img src="/images/all-out.png" alt=""></a>
												</div>
												<!--gallery_pt end-->
											</div>
										</div>
									</div>
									<!--gallery_pf end-->
								</div>
								<!--portfolio-gallery-sec end-->
							</div>
							<!--product-feed-tab end-->
						</div>
						<!--main-ws-sec end-->
					</div>
					<div class="col-lg-3">
						<div class="right-sidebar">
							<div class="message-btn">
								<a href="#" title=""><i class="fa fa-envelope"></i> Message</a>
							</div>
							<div class="widget widget-portfolio">
								<div class="wd-heady">
									<h3>Portfolio</h3>
									<img src="/images/photo-icon.png" alt="">
								</div>
								<div class="pf-gallery">
									<ul>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery1.png"
													alt=""></a>
										</li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery2.png"
													alt=""></a>
										</li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery3.png"
													alt=""></a>
										</li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery4.png"
													alt=""></a>
										</li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery5.png"
													alt=""></a>
										</li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery6.png"
													alt=""></a>
										</li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery7.png"
													alt=""></a>
										</li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery8.png"
													alt=""></a>
										</li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery9.png"
													alt=""></a>
										</li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery10.png"
													alt=""></a></li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery11.png"
													alt=""></a></li>
										<li><a href="#" title=""><img src="/images/resources/pf-gallery12.png"
													alt=""></a></li>
									</ul>
								</div>
								<!--pf-gallery end-->
							</div>
							<!--widget-portfolio end-->
						</div>
						<!--right-sidebar end-->
					</div>
				</div>
			</div><!-- main-section-data end-->
		</div>
	</div>
</main>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	var updateFollowStats = {
		Follow: function (postId) {
			document.querySelector('#likes-count-' + postId).textContent++;
		},
		Unfollow: function (postId) {
			document.querySelector('#likes-count-' + postId).textContent--;
		}
	};

	var toggleFollowText = {
		Follow: function (button) {
			button.textContent = "Unfollow";
		},
		Unfollow: function (button) {
			button.textContent = "Follow";
		}
	};

	var actOnFollow = function (event) {
		var followId = event.target.dataset.postId;
		var followstatus = event.target.textContent.trim();
		toggleFollowText[followstatus](event.target);
		//updateFollowStats[action](followId);
		axios.post('/follow/' + followId + '/act', { followstatus: followstatus });
	};
</script>


<script>
	var updatePostStats = {
		Like: function (postId) {
			document.querySelector('#likes-count-' + postId).textContent++;
		},
		Unlike: function (postId) {
			document.querySelector('#likes-count-' + postId).textContent--;
		}
	};

	var toggleButtonText = {
		Like: function (button) {
			button.textContent = "Unlike";
		},
		Unlike: function (button) {
			button.textContent = "Like";
		}
	};

	var actOnPost = function (event) {
		var postId = event.target.dataset.postId;
		var action = event.target.textContent.trim();
		toggleButtonText[action](event.target);
		updatePostStats[action](postId);
		axios.post('/posts/' + postId + '/act', { action: action });
	};
</script>


<script>

	$(document).ready(function () {
		$.ajax(
			{
				type: 'GET',
				url: '/likepost/like',
				contentType: 'application/json',
				success: function (response) {
					let user_likes = response.data;
					let like_text = document.getElementsByClassName('likeText');

					for (let i = 0; i < like_text.length; i++) {
						for (let j = 0; j < user_likes.length; j++) {
							if (like_text[i].id == user_likes[j].post) {
								like_text[i].innerHTML = 'Unlike';
								break;
							}
						}
					}
				},
				failure: function (response) {
					console.log(response);
				}
			}
		);
		$.ajax(
			{
				type: 'GET',
				url: '/follow/follows',
				contentType: 'application/json',
				success: function (response) {
					let user_following = response.data;
					let follow_text = document.getElementsByClassName('flww');
					for (let i = 0; i < follow_text.length; i++) {
						for (let j = 0; j < user_following.length; j++) {
							if (follow_text[i].id == user_following[j].following) {
								follow_text[i].innerHTML = 'Unfollow';
								break;
							}
						}
					}
				},
				failure: function (response) {
					console.log(response);
				}
			}
		);
	});
</script>